@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
    background-color: #dadada;
    color: #1f2023;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f2023;
        color: #dadada;
    }
}

@layer base {
    h1 {
        @apply text-3xl font-bold underline my-4;
    }
    h2 {
        @apply text-2xl font-semibold;
    }
    ul {
        @apply list-disc px-8;
    }
    a {
        @apply hover:underline;
    }
    .card-template {
        @apply container mx-auto max-w-2xl p-8 m-4 rounded-lg shadow-3xl shadow-gray-400 backdrop-brightness-80;
    }
    .timeline {
        @apply absolute -start-1.5 mt-1.5 w-3 h-3 rounded-full border bg-gray-700;
    }
    .title {
        @apply text-lg font-semibold italic text-white;
    }
    .muted {
        @apply text-gray-500;
    }
    .navbar-item {
        @apply text-xl text-gray-400 transition-colors cursor-pointer hover:text-3xl hover:text-white hover:font-semibold hover:underline;
    }
    .plus {
        @apply list-['+'] py-2;
    }
}

@theme {
    --shadow-3xl: 1px 4px 25px 5px rgba(0, 0, 0, 0.25);
}
